
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #5CAFDE;
}

.nav.navbar-nav-custom > li.open > a,
.nav.navbar-nav-custom > li > a:hover,
.nav.navbar-nav-custom > li > a:focus {
    background-color: #5CAFDE;
    color: #ffffff;
}

/* Sidebar Title */
.sidebar-title {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    display: block;
    color: #ffffff;
    background-color: #5CAFDE;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
}

.sidebar-nav-ripple {
    display: block;
    position: absolute;
    background: #5CAFDE;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebar-nav a.active {
    background: #ffffff;
    color: #454e59;
    border-right: 4px solid #5CAFDE;
}

.sidebar-nav a > .sidebar-nav-icon,
.sidebar-nav a > .sidebar-nav-indicator {
    display: inline-block;
    opacity: .5;
    width: 18px;
    font-size: 18px;
    text-align: center;
}

ul.sidebar-nav > li > a {
    margin: 0 0 0 -10px;
    padding-left: 19px;
    border-left: 1px solid #454e59;
    min-height: 34px;
    line-height: 34px;
    font-weight: normal;
  
}

.toggle-menu a:hover,
.toggle-menu a:focus,
.toggle-menu a.active {
    text-decoration: none;
    color: #5CAFDE;
}

.navbar.navbar-inverse.navbar-glass {
    background: #5CAFDE;
}

.navbar.navbar-inverse,
.navbar.navbar-inverse.navbar-glass:hover {
    background: #5CAFDE;
}

.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus,
a.text-primary,
a.text-primary:hover,
a.text-primary:focus {
    color: #5CAFDE;
}

.form-control:focus {
    border-color: #5CAFDE;
}

/*.switch span {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
    vertical-align: middle;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.switch input:checked + span:after {
    left: 27px;
    width: 18px;
    top: 2px;
    bottom: 2px;
}
*/
.switch-primary input:checked + span {
    background-color: #5CAFDE;
}

.csscheckbox-primary input:checked + span:after {
    background-color: #5CAFDE;
}

.table.table-pricing.table-featured,
.table.table-pricing:hover {
    border-color: #5CAFDE;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.table.table-pricing th {
    text-align: center;
   
    border-bottom: none;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #5CAFDE;
    border-color: #5CAFDE;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #ffffff;
    background-color: #5CAFDE;
}

.nav-pills > .active > a > .badge {
    color: #5CAFDE;
}

.nav .caret,
.nav a:hover .caret,
.nav a:focus .caret {
    border-top-color: #5CAFDE;
    border-bottom-color: #5CAFDE;
}

.pagination > li > a,
.pagination > li > span  {
    font-weight: 500;
    color: #5CAFDE;
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 3px !important;
    background: transparent;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #5CAFDE;
}

.pager > li > a:hover,
.pagination > li > a:hover {
    background-color: #5CAFDE;
    border-color: #5CAFDE;
    color: #ffffff;
}

.progress-bar-primary {
    background-color: #5CAFDE;
}

.btn-info {
    background-color: #5CAFDE;
    border-color: #5CAFDE;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info.active,
.btn-info.active:hover,
.btn-info.active:focus,
.open .btn-info.dropdown-toggle,
.open .btn-info.dropdown-toggle:hover,
.open .btn-info.dropdown-toggle:focus,
.open .btn-info.dropdown-toggle.focus {
    background-color: #027DC4;
    border-color: #027DC4;
    color: #ffffff !important;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
.btn-info[disabled]:active:focus,
.btn-info[disabled].active:focus,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active,
fieldset[disabled] .btn-info:active:focus,
fieldset[disabled] .btn-info.active:focus {
    background-color: #5CAFDE;
    border-color: #5CAFDE;
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    color: #5CAFDE;
}

.label-primary,
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #5CAFDE;
}

/* Default Color Theme specific colors */
.themed-color {
    color: #5CAFDE !important;
}

.themed-background {
    background-color: #5CAFDE !important;
}
